.wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon {
  width: 60px;
  height: 60px;

  box-shadow: var(--neutral-box-shadow);
}

.text {
  font-weight: 900;
  font-size: 34px;
  line-height: 60px;
  letter-spacing: 0.04em;
  color: var(--neutral-1000);
}
