.dropdown {
  box-sizing: border-box;
  z-index: 1;
  opacity: 0;
  display: none;
  pointer-events: none;

  position: absolute;

  outline: 1px solid var(--neutral-600);
  border-radius: var(--bigger-border-radius);

  box-shadow: var(--dark-box-shadow);
  background: var(--neutral-100);

  padding: var(--bigger-border-radius);

  transition: opacity var(--transition-medium);

  &.shown {
    opacity: 1;
    visibility: visible;
    display: flex;
    pointer-events: unset;
  }
}
