.btn {
  position: relative;

  overflow: hidden;
  flex-grow: 1;

  height: 240px;

  border: none;
  border-radius: var(--neutral-border-radius);
  box-shadow: var(--dark-box-shadow);

  & .icon {
    opacity: 0;
  }

  &.default:not(.withImage) .image {
    opacity: 0.4;
    transition: opacity var(--transition-medium);
  }

  &.default .icon {
    color: var(--neutral-700);
    opacity: 1;
  }

  &.default:hover .clearBtn {
    pointer-events: auto;
    opacity: 1;
  }

  &.default:not(.withImage):hover .image {
    opacity: 0.6;
  }

  &.default:hover .icon {
    color: var(--neutral-800);
  }

  &.default:not(.withImage):active .image {
    opacity: 1;
  }

  &.default:active .icon {
    color: var(--neutral-900);
  }

  &.withImage.default:hover .image {
    filter: brightness(0.9);
  }

  &.withImage.default:active .image {
    filter: brightness(0.6);
  }

  &.withImage:active .image {
    filter: brightness(0.6);
  }

  &:not(.default):active .icon {
    opacity: 1;
  }

  &.selected .image {
    filter: brightness(0.6);
  }

  &.selected .icon {
    opacity: 1;
  }
}

.image {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;

  transition: filter var(--transition-medium);
}

.clearBtn {
  pointer-events: none;

  position: absolute;
  top: 16px;
  right: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  opacity: 0;
  background-color: rgb(255 255 255 / 60%);
  border-radius: var(--smaller-border-radius);
  box-shadow: var(--small-dark-box-shadow);

  transition: background-color var(--transition-medium),
    opacity var(--transition-medium);

  &:hover {
    background-color: rgb(255 255 255 / 90%);
  }

  &:active {
    background-color: var(--neutral-700);
  }
}

.clearIcon {
  width: 16px;
  height: 16px;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--neutral-600);

  transition: opacity var(--transition-medium);
}
