h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 0;
}

p {
  margin-block: 0;
}

button {
  padding-inline: 0;
}

input {
  padding: 0;
}

ul,
ol {
  margin-block: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}
