.btn {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  padding: 18px;

  background-color: var(--primary-400);
  border: none;
  border-radius: var(--neutral-border-radius);
  box-shadow: var(--dark-box-shadow);

  transition: background-color var(--transition-medium);

  @media (hover: hover) {
    &:hover {
      background-color: var(--primary-450);
    }
  }

  &:active {
    background-color: var(--primary-500);
  }

  &:disabled:not(.neutral) {
    background-color: var(--primary-300);
  }

  &:disabled .text {
    color: var(--neutral-800);
  }

  &:disabled .icon {
    color: var(--neutral-800);
  }
}

.btn.neutral {
  background-color: var(--neutral-300);

  @media (hover: hover) {
    &:hover {
      background-color: var(--neutral-500);
    }
  }

  &:active {
    background-color: var(--neutral-600);
  }
}

.icon {
  width: 24px;
  height: 24px;
}

.text {
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
  color: var(--neutral-1000);
}
