.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: var(--neutral-border-radius);
  border: none;

  background-color: var(--primary-400);
  box-shadow: var(--dark-box-shadow);

  padding: 18px;

  transition: background-color var(--transition-medium);

  &:hover {
    background-color: var(--primary-450);
  }

  &:active {
    background-color: var(--primary-500);
  }

  &:disabled:not(.neutral) {
    background-color: var(--primary-300);
  }
}

.btn.neutral {
  background-color: var(--neutral-300);

  &:hover {
    background-color: var(--neutral-500);
  }

  &:active {
    background-color: var(--neutral-600);
  }
}

.icon {
  width: 24px;
  height: 24px;
}

.text {
  color: var(--neutral-1000);
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
}
