.input {
  padding: 18px;

  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  color: var(--neutral-1000);

  background: var(--neutral-100);
  border: none;
  border-radius: var(--bigger-border-radius);
  outline-color: transparent;
  box-shadow: var(--dark-box-shadow);

  transition: outline-color var(--transition-medium);

  &::placeholder {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    color: var(--neutral-800);
  }

  &:hover {
    outline: 1px solid var(--neutral-500);
  }

  &:focus {
    outline: 1px solid var(--neutral-600);
  }

  &:not(:placeholder-shown) + .inputClearBtn {
    pointer-events: initial;
    opacity: 1;
  }

  &.withClearBtn {
    padding-right: 60px;
  }
}

.inputClearBtn {
  pointer-events: none;

  position: absolute;
  z-index: 10;
  top: 18px;
  right: 18px;

  width: 24px;
  height: 24px;

  opacity: 0;
  background-color: transparent;
  border: none;

  transition: opacity var(--transition-medium);

  &:hover .inputClearIcon {
    color: var(--neutral-800);
  }

  &:active .inputClearIcon {
    color: var(--neutral-900);
  }
}

.inputClearIcon {
  width: 100%;
  height: 100%;
  color: var(--neutral-700);
}
