.textarea {
  box-sizing: border-box;
  flex-grow: 1;
  min-height: 340px;

  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: var(--neutral-1000);

  outline-color: transparent;
  border: none;
  border-radius: var(--bigger-border-radius);

  background: var(--neutral-100);
  box-shadow: var(--dark-box-shadow);

  padding: 18px;

  transition: outline-color var(--transition-medium);

  resize: none;

  &::placeholder {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: var(--neutral-800);
  }

  &:hover {
    outline: 1px solid var(--neutral-500);
  }

  &:focus {
    outline: 1px solid var(--neutral-600);
  }
}
