.btn {
  flex-grow: 1;
  position: relative;
  border: none;

  height: 240px;

  padding: 0;

  background-color: transparent;
}

.image {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: -1;

  opacity: 0.4;

  box-shadow: var(--dark-box-shadow);
  border-radius: var(--neutral-border-radius);
}

.icon path {
  fill: var(--neutral-700);
}
