.main {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 120px - 58px);

  padding-block: 20px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 36px;
}

.noDataIcon {
  width: 300px;
  height: 296px;
}

@media (max-height: 568px) {
  .main {
    height: auto;
  }
}
