.main {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  min-height: calc(100vh - 120px - 58px);
  padding-block: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 36px;
  justify-content: center;
}

.noDataIcon {
  width: 300px;
  height: 296px;
}

@media (height <= 568px) {
  .main {
    height: auto;
  }
}
