.footer {
  padding-bottom: 40px;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--neutral-800);

  margin: 0;
}

.link:active,
.link:visited {
  color: inherit;
  color: var(--neutral-800);
}

.link {
  color: var(--neutral-800);
  text-underline-offset: 4px;
}
