.wrapper {
  display: flex;
  position: relative;
  flex-grow: 1;
}

.calendar {
  flex-grow: 1;
  height: 24px;
}

.calendar:hover + .icon path {
  fill: var(--neutral-800);
}

.calendar:focus + .icon path {
  fill: var(--neutral-900);
}

.calendar::-webkit-calendar-picker-indicator {
  background-color: transparent;
  opacity: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.icon {
  position: absolute;
  right: 18px;
  top: 18px;
  pointer-events: none;
}

.icon path {
  fill: var(--neutral-700);

  transition: fill var(--transition-medium);
}
