.wrapper {
  position: relative;
  display: flex;
  flex-grow: 1;
}

.calendar {
  flex-grow: 1;
  height: 24px;
}

.calendar:hover + .icon {
  color: var(--neutral-800);
}

.calendar:focus + .icon {
  color: var(--neutral-900);
}

.calendar::-webkit-calendar-picker-indicator {
  cursor: pointer;

  width: 24px;
  height: 24px;

  opacity: 0;
  background-color: transparent;
}

.icon {
  pointer-events: none;

  position: absolute;
  top: 18px;
  right: 18px;

  color: var(--neutral-700);
}
